/** 
* Styles for Footer component
**/

.footer-wrapper {
  margin-top: 20px;
  padding: 0 1em;
  text-align: right;
  color: white;
}
.footer-wrapper a{
  color: white;
}
.footer-wrapper a:hover{
  opacity: 0.7;
}
.footer-wrapper .footer-icon{
  margin-top:2px;
}
  
.show-hidden-button{
  margin-left: 10px;
}