/*
Global styles, primarily big stuff like fonts and colors

https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=311B92&secondary.color=42A5F5
*/

:root {
    --primary-color: #311b92;
    --primary-color-text: white;
    --primary-light: #6746c3;
    --primary-dark: #000063;
    --secondary-color: #42a5f5;
    --secondary-color-text: #222;
    --secondary-light: #80d6ff;
    --secondary-dark: #0077c2;
    --complete: #66bb6a;
    --default-text: #222;
    --default-bg: rgb(221, 221, 221);
    --default-bg-gradient: linear-gradient(0deg, rgba(221, 221, 221, 1) 0%, rgba(238, 238, 238, 1) 100%);
    /*--default-shadow: 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);*/
    --default-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.56);
    --font-stack: Roboto, "Open Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
body,
html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: var(--default-text);
    font-family: var(--font-stack);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(35, 39, 48);
    background: url('./images/stars.png') center center repeat, linear-gradient(180deg, rgba(35, 39, 48, 1) 0%, rgba(13, 19, 32, 1) 100%);
    background-size: 500px;
    background-blend-mode: soft-light;
}

.hidden {
    display: none !important;
}

.break {
    clear: both;
}

.inline-icon {
    vertical-align: text-bottom;
}