/**
* Styles for ProgressTracker and all sub-components
**/

/** GENERAL **/

.progress-tracker {
    width: 90%;
    margin: 0 auto;
}

.extra-fields {
    padding: 15px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: var(--default-bg);
    background: var(--default-bg-gradient);
    box-shadow: var(--default-shadow);
    display: block;
    width: auto;
    margin: 0 auto;
}

.extra-fields h3 {
    margin-top: 0px;
}

/** END GENERAL **/

/** GRID LAYOUT **/

@media (min-width:600px) {
    .progress-tracker {
        display: grid;
        grid-gap: 10px;
        grid-auto-columns: 50%;
    }
    /* row 1 */
    .time-left {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    /* row 2 */
    .chest-progress-wrapper {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    /* row 3 */
    #sector-panel-0 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    #sector-panel-1 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    /* row 4 */
    #sector-panel-2 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    #sector-panel-3 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    /* row 5 */
    #sector-panel-4 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    #sector-panel-5 {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    /* row 6 */
    .extra-fields {
        grid-column: 1 /3;
        grid-row: 6 / 7;
    }
    /** END GRID LAYOUT **/
}

/** SECTORS **/

.sector-panel {
    margin-bottom: 15px;
    padding: 0px 10px 10px 10px;
    border: 1px solid var(--secondary-dark);
    background: var(--secondary-color);
    background: rgb(66, 165, 245);
    background: linear-gradient(135deg, var(--secondary-color) 0%, var(--secondary-light) 50%, var(--secondary-color) 100%);
    color: var(--secondary-color-text);
    border-radius: 5px;
    box-shadow: var(--default-shadow);
}

.sector-panel:hover {
    border: 1px solid var(--secondary-light);
}

.sector-panel .panel-heading:hover {
    cursor: pointer;
}

.sector-panel.panel-closed {
    height: 45px;
}

.sector-panel .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding: 10px 0px;
}

.sector-panel .panel-heading h1, .sector-panel .panel-heading h2 {
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
.sector-panel .panel-heading .sector-keycard-icon{
    max-height: 20px;
}

/** END SECTORS **/

/** FEATS **/

.feat-wrapper {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.feat-wrapper h2{
    margin: 0px;
}
.feat-wrapper.feat-complete {
    border-color: rgb(253 217 38);
    background: rgba(255, 255, 255, .3);
    position: relative;
    z-index: 0;
}

.feat-wrapper.feat-complete:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.feat-wrapper .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feat-complete-check {
    display: inline-block;
}

.feat-wrapper .title-wrapper h2 {
    margin: 0px;
    display: flex;
    align-items: center;
}

.keycard-display {
    height: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.keycard-display h3 {
    display: inline-block;
    margin: 0px 5px;
}

.keycard-display img {
    max-height: 100%;
}

.feat-wrapper p {
    padding: 0px 15px;
}

.feat-count-wrapper {
    display: flex;
    font-size: 1.75em;
    align-items: center;
}

.feat-count:hover {
    cursor: pointer;
    text-decoration: underline;
}

.feat-number-input{
    max-width: 70px;
    margin-right: 10px;
}
.feat-progress-controls {
    display: flex;
    justify-content: space-between;
}
.feat-number-input + .big-slash{
    margin-left: 10px;
}

/** END FEATS **/

/** CHESTS **/

.chest-progress-wrapper {
    width: 80%;
    margin: 0 auto;
}

.chest-progress {
    border: 1px solid black;
    border-radius: 5px;
    background: var(--default-bg);
    background: var(--default-bg-gradient);
    /* box-shadow: var(--default-shadow); */
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: var(--default-shadow);
}

.crate-icon {
    max-height: 60px;
}

.reward-icon {
    max-height: 30px;
}

.currency-icon {
    max-height: 20px;
}

.reward-row {
    margin-left: 15px;
}

.rewards-wrapper {
    margin: 20px 0px 10px 0px;
    padding: 0px 5px;
    display: inline-block;
}

.rewards-wrapper h3 {
    padding: 0px;
    margin: 0px;
}

.rewards-toggle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rewards-toggle:hover {
    cursor: pointer;
}

/** styles when stuck **/

.sticky {
    z-index: 05221989;
}

.sticky .chest-progress {
    background: var(--primary-color);
}

.sticky .chest-progress .hide-on-stuck {
    display: none;
}

.sticky .crate-icon {
    max-height: 30px;
}

.sticky img[class*="icon"] {
    margin: 0px 5px;
    /*display:none;*/
}

.sticky .keycard-progress-wrapper {
    padding-right: 15px;
}

.sticky .crate-keycard-progress {
    float: left;
    margin: -15px 10px 0px 0px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.sticky .progress-bar-wrapper {
    margin-top: 5px;
    padding-top: 5px;
}

/** END CHESTS **/

/** SECTOR BOSS **/

.sector-boss-wrapper {
    padding: 10px;
}
.sector-boss-wrapper .boss-icon{
    max-width: 66px;
}

.sector-boss-wrapper .star-selector img:hover {
    cursor: pointer;
}
.boss-keycard-icon{
    max-height: 20px;
}
.boss-feat-keycard-icon{
    max-height: 15px;
}

.sector-boss-wrapper .star-selector img.star:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fdec26+40,ffffff+100&1+0,0+69 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(253, 236, 38, 1) 0%, rgba(253, 236, 38, 0.42) 40%, rgba(254, 245, 143, 0) 69%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(253, 236, 38, 1) 0%, rgba(253, 236, 38, 0.42) 40%, rgba(254, 245, 143, 0) 69%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(253, 236, 38, 1) 0%, rgba(253, 236, 38, 0.42) 40%, rgba(254, 245, 143, 0) 69%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdec26', endColorstr='#00ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.sector-boss-wrapper .star-selector img.star-inactive:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#525252+40,ffffff+100&1+1,0+69 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(82, 82, 82, 1) 1%, rgba(82, 82, 82, 0.43) 40%, rgba(166, 166, 166, 0) 69%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(82, 82, 82, 1) 1%, rgba(82, 82, 82, 0.43) 40%, rgba(166, 166, 166, 0) 69%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(82, 82, 82, 1) 1%, rgba(82, 82, 82, 0.43) 40%, rgba(166, 166, 166, 0) 69%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#00ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

/** END SECTOR BOSS **/