/**
* Styles for ProgressTracker and all sub-components
**/

/** GENERAL **/
.progress-tracker{
    width: 90%;
    display: block;
    margin:0 auto;
}
/** END GENERAL **/


/** SECTORS **/
.sector-panel{
    margin-bottom:15px;
    padding: 0px 10px;
    border: 1px solid var(--secondary-dark);
    background: var(--secondary-color);
    color: var(--secondary-color-text);
    border-radius: 5px;
}
.sector-panel:hover{
    border: 1px solid var(--secondary-light);
}
.sector-panel .panel-heading:hover{
    cursor: pointer;
}
.sector-panel .panel-heading{
    display:flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.sector-panel .panel-heading h1{
    padding:0px;
    margin:0px;
    display: inline-block;
}
/** END SECTORS **/


/** FEATS **/
.feat-wrapper{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.feat-wrapper.feat-complete{
    border-color: var(--complete);
}
/** END FEATS **/

/** CHESTS **/
.chest-progress{
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    margin-bottom:10px;
    padding: 10px;
}
.crate-icon{
    max-height: 60px;
}
.reward-icon{
    max-height: 30px;
}
.currency-icon{
    max-height: 20px;
}
.reward-row{
    margin-left: 15px;
}

/** styles when stuck **/
.sticky{
    z-index: 05221989;
}
.sticky .chest-progress{
    background: var(--primary-light);
}
.sticky .chest-progress .hide-on-stuck{
    display: none;;
}
.sticky .crate-icon{
    max-height: 30px;
}
/** END CHESTS **/
